.content {
    margin-left: 50px;
    max-width: 1200px;
    margin-top:50px;
    padding-bottom: 60px;
    overflow: hidden;
    /*border-left: 1px solid gray;*/
    /*padding: 10px 50px 25px;*/
    /*border: 1px solid gray;*/


}
.content-wrapper
{
    min-height: 450px;
}
div.searchBox
{
    margin-left: 750px;
    /*overflow: hidden;*/
}

body {
    /* background-image: url(images/background1.png);*/
}
.myMark {
    background-color: greenyellow;
    color: black;
}

header {
    background-color: #C36464;
    color: #fff;
    padding: 10px;
    /*text-align: left;*/
}

footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #C36464;
}

.imgRepeat
{
    content:" ";
    display:inline-block;
    margin-left: 3em;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.zoom_img img:hover{
    -moz-transform:scale(1.25);
    -webkit-transform:scale(1.25);
    -o-transform:scale(1.25);
}

.scrollDiv
{
    max-height: 150px;
    overflow-y: scroll;
}
/*.brandInput
{
    margin-bottom:5px;
    box-sizing : border-box;
}*/
.filterInput
{
    width:150px;
    margin-bottom:5px;
    box-sizing : border-box;
}

.productName {
    font-family: Georgia, serif;
    /*color: #4e0533;*/
    font-size: 20px;
    font-variant: small-caps;

    margin-bottom: 0;
}
.filterName
{
    font-family: Georgia, serif;
    /*color: #4e0533;*/
    font-size: 15px;
    font-variant: small-caps;

    margin-bottom: 0;
}

.floatRight {
    float:right
}

.myAnchor{
    text-decoration: none;
    color: white;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}



