
<h5>Filter on Brand</h5>
<!--{{bfc.brands.array}}-->
<div>

    <input type="text" ng-model="bfc.brandName" class = "filterInput">
    <div ng-hide="!bfc.checked" class="ng-hide">
        <a  ng-click="bfc.clear();" style="text-decoration: none;">
            <span >Clear</span><!--class="glyphicon glyphicon-remove"-->
        </a>
    </div>
    <div class = "scrollDiv">
        <div ng-repeat = "brand in bfc.brandList | filter : bfc.brandName ">
            <input type="checkbox" checklist-model="bfc.brands.array" checklist-value="brand"
                   ng-click="bfc.brandChecked(bfc.brands.array)">
            {{brand}}
        </div>
    </div>
</div>
