<!--Display list of products of selected type in search page-->
<div>
    <h4 class="filterName">{{dplc.productType}} List</h4>
    <hr/>
    <div class = "imgRepeat" ng-repeat="product in dplc.productList | orderBy : '-price' track by $index" ><!--| filter: { subType: dplc.productType } | limitTo: 15-->
        <figure class="zoom_img">
            <a ui-sref='view({id:product.id})'>
                <img ng-src="{{'../data/images/'+product.imgPath+'.jpeg'}} " ng-alt="{{product.name}}" ng-title="{{product.name}}" class="img-thumbnail" width="120" height="120" style="border:0px;margin:0px;"/>
            </a>
        </figure>
        {{product.name}}<br/>
        Price : {{product.price | currency:'&#8377;'}}<br/>
        <div ng-repeat='offer in product.offers' >
            {{offer.type}} - <span ng-if = 'offer.amount'>{{offer.amount | currency:'&#8377;'}}</span>
            <span ng-if = 'offer.percentage'>{{offer.percentage}}</span>
        </div>
        <ng-rate-it ng-model= product.rating  read-only="true" ></ng-rate-it>
    </div>
</div>