<header>MyShoppingCart</header>

<!-- Bootstrap nav bar -->
<nav class="navbar" role="navigation">

    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropbtn">Electronics</a>
            <div class="dropdown-content">
                <a ui-sref="mobiles">Mobiles</a>
                <a ui-sref="laptops">Laptops</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn">Books</a>
            <div class="dropdown-content">
                <a ui-sref="fiction">Fiction</a>
                <a ui-sref="comic">Comic</a>
                <a ui-sref="biographies">Biographies</a>
            </div>
        </li>
    </ul>
    <!--search box-->
    <div style = 'float:right' class="col-sm-6 col-md-6">
        <ui-select  ng-model = 'MyHCtrl.prod' theme='bootstrap'  on-select="MyHCtrl.onSelect(MyHCtrl.prod.id)">;

            <ui-select-match placeHolder="Search for Product or Brand " id="automplete">
                {{$select.selected.name}}
            </ui-select-match>

            <ui-select-choices refresh="checkName($select.search)"
                               refresh-delay="0"
                               repeat = 'product in  products |filter: $select.search  | limitTo:   limitNameSearch'>
                <div>{{product.name}}
                    <small>
                        <ng-rate-it ng-model= product.rating  read-only="true" ></ng-rate-it> Price :{{product.price}}
                    </small>
                </div>
            </ui-select-choices>

        </ui-select>
    </div>
    <!--<div ng-click="callMe()">Click here</div>-->
   <!-- <div style = 'float:right' class="col-sm-6 col-md-6"  ng-controller="HeaderController as headerCtrl">
        <ui-select  ng-model = 'headerCtrl.prod' theme='bootstrap'  on-select="headerCtrl.onSelect(headerCtrl.prod.id)">&lt;!&ndash;reset-search-input='false'&ndash;&gt;
            <ui-select-match placeHolder="Search for Product or Brand " id="automplete">
                {{$select.selected.name}}
            </ui-select-match>

            <ui-select-choices refresh="headerCtrl.checkName($select.search)"
                               refresh-delay="0"
                               repeat = 'product in  products |filter: $select.search  | limitTo: headerCtrl.limitNameSearch'>&lt;!&ndash;filter:$select.search&ndash;&gt;

                <div>{{product.name}}
                <small>
                    <ng-rate-it ng-model= product.rating  read-only="true" ></ng-rate-it> Price :{{product.price}}
                </small>
                </div>


            </ui-select-choices>

        </ui-select>

    </div>-->
</nav>

