<header>MyShoppingCart</header>

<!-- Bootstrap nav bar -->
<nav class="navbar" role="navigation">

    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropbtn">Electronics</a>
            <div class="dropdown-content">
                <a ui-sref='search({productType:"Mobiles"})'>Mobiles</a><!--search({type:"mobiles"})-->
                <a ui-sref='search({productType:"Laptops"})'>Laptops</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn">Books</a>
            <div class="dropdown-content">
                <a ui-sref='search({productType:"fiction"})'>Fiction</a>
                <a ui-sref='search({productType:"comic"})'>Comic</a>
                <a ui-sref='search({productType:"biography"})'>Biographies</a>
            </div>
        </li>
    </ul>

</nav>

<!--search box-->

<!--<div  class="center-block   ">--><!--style = 'float:none' class="col-md-10 col-md-10"-->
<div class="row">
    <div class="col-sm-offset-4 col-sm-5">

        <ui-select  ng-model = 'MyHCtrl.prod' theme='bootstrap'   on-select="MyHCtrl.onSelect(MyHCtrl.prod.id)">;

            <ui-select-match placeHolder="Search for Product or Brand " id="automplete">
                {{$select.selected.name}}
            </ui-select-match>

            <ui-select-choices refresh="checkName($select.search)"
                               refresh-delay="0"
                               repeat = 'product in  products |filter: $select.search  | limitTo:   limitNameSearch'>
                <div>
                    <span>{{product.name}}</span><br>
                    <label><ng-rate-it ng-model= product.rating  read-only="true" ></ng-rate-it></label>
                    <span class="floatRight">Price :{{product.price}}</span>

                </div>
            </ui-select-choices>

            <!--<ui-select-no-choice></ui-select-no-choice>-->
        </ui-select>
    </div>
</div>