<header>MyShoppingCart</header>

<!-- Bootstrap nav bar -->
<nav class="navbar" role="navigation">

    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropbtn">Electronics</a>
            <div class="dropdown-content">
                <a ui-sref="mobiles">Mobiles</a>
                <a ui-sref="laptops">Laptops</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn">Books</a>
            <div class="dropdown-content">
                <a ui-sref="fiction">Fiction</a>
                <a ui-sref="comic">Comic</a>
                <a ui-sref="biographies">Biographies</a>
            </div>
        </li>
    </ul>

    <div style = 'float:right' class="col-sm-6 col-md-6"  ng-controller="HeaderController as headerCtrl">
        <ui-select  ng-model = 'headerCtrl.prod' theme='bootstrap' reset-search-input='false'> &lt;!&ndash; theme = 'selectize' makes work without refresh but ui effects&ndash;&gt;
            <ui-select-match placeHolder="Search for Product or Brand " id="automplete">
                {{$select.selected.name}}
            </ui-select-match>

            <ui-select-choices refresh="headerCtrl.checkName($select.search)"
                               refresh-delay="0"
                               repeat = 'product in  products | filter:$select.search | limitTo: headerCtrl.limitNameSearch'>
                {{product.name}}
            </ui-select-choices>

        </ui-select>

    </div>
</nav>

<!-- ****
    ui select autocomplete to serch a product
    ***** -->
<!--
<div class = 'searchBox'>
<div class="col-sm-6 col-md-6">
    <ui-select  ng-model = 'headerCtrl.prod' theme='bootstrap' reset-search-input='false'> &lt;!&ndash; theme = 'selectize' makes work without refresh but ui effects&ndash;&gt;
        <ui-select-match placeHolder="Search for Product or Brand " id="automplete">
            {{$select.selected.name}}
        </ui-select-match>

        <ui-select-choices refresh="headerCtrl.checkName($select.search)"
                           refresh-delay="0"
                           repeat = 'product in  products | filter:$select.search | limitTo: headerCtrl.limitNameSearch'>
            {{product.name}}
        </ui-select-choices>

    </ui-select>

</div>

</div>-->
