<!-- ****
    ui select autocomplete to serch a product
    ***** -->
<!--<div class="col-sm-6 col-md-6">
    <ui-select  ng-model = 'hc.prod' theme='bootstrap' reset-search-input='false'> &lt;!&ndash; theme = 'selectize' makes work without refresh but ui effects&ndash;&gt;
        <ui-select-match placeHolder="Search for Product or Brand " id="automplete">
            {{$select.selected.name}}
        </ui-select-match>

        <ui-select-choices refresh="hc.checkName($select.search)"
                           refresh-delay="0"
                           repeat = 'product in  products | filter:$select.search | limitTo: hc.limitNameSearch'>
            {{product.name}}
        </ui-select-choices>

    </ui-select>

</div>-->


<!-- ****
    to display top rated mobiles
 ****   -->
<div class="col-sm-10 col-md-10" >
    <h1>Top Rated Items</h1>
    <hr>
    <div class = "imgRepeat" ng-repeat="product in products | orderBy : '-rating' | filter: { subType: 'mobile' } | limitTo: 5 " >

        <figure class="zoom_img">
            <a ui-sref='view({id:product.id})'>
                <img ng-src="{{'../data/images/'+product.imgPath+'.jpeg'}} " ng-alt="{{product.name}}" ng-title="{{product.name}}" class="img-thumbnail" width="120" height="120" style="border:0px;margin:0px;"/>
            </a>
        </figure>
        {{product.name}}<br/>
        Price : {{product.price | currency:'&#8377;'}}<br/>
        Rating : {{product.rating}}

    </div>

    <hr>
    <div class = "imgRepeat" ng-repeat="product in products | orderBy : '-rating' | limitTo: 10 | filter: { subType: 'laptop' }" >

        <figure class="zoom_img">
            <a ui-sref='view({id:product.id})'>
                <img ng-src="{{'../data/images/'+product.imgPath+'.jpeg'}} " ng-alt="{{product.name}}" ng-title="{{product.name}}" class="img-thumbnail" width="120" height="120" style="border:0px;margin:0px;"/><!--style="border:0px;margin:0px;"-->
            </a>
        </figure>
        {{product.name}}<br/>
        Price : {{product.price | currency:'&#8377;'}}<br/>
        Rating : {{product.rating}}

    </div>
</div>

