<!-- ****
    to display top rated products using custom directives -- top-rated-products in home page
 ****   -->

<div>

    <top-rated-products product-list = "products" product-type = "Mobiles"></top-rated-products>

    <top-rated-products product-list = "products" product-type = "Laptops"></top-rated-products>

    <top-rated-products product-list = "products" product-type = "biography"></top-rated-products>

    <top-rated-products product-list = "products" product-type = "fiction"></top-rated-products>
</div>

