<div>
    <h5>Filter on Offer</h5>
    <div>

        <input type="text" ng-model="ofc.offerType" class = "filterInput">
        <div ng-hide="!ofc.checked" class="ng-hide">
            <a  ng-click="ofc.clear();" style="text-decoration: none;">
                <span>Clear</span><!--class="glyphicon glyphicon-remove"-->
            </a>
        </div>

        <div ><!--class = "scrollDiv"-->
            <div ng-repeat = "offer in ofc.offerList | filter : ofc.offerType">
                <input type="checkbox" checklist-model="ofc.offers.array" checklist-value="offer"
                       ng-click="ofc.offerChecked(ofc.offers.array)">
                {{offer}}
            </div>
        </div>
    </div>
</div>