<!--Price slider in search page-->
<div> <!--class="boxed"-->

    <rzslider rz-slider-model="psc.slider.minValue"
              rz-slider-high="psc.slider.maxValue"
              rz-slider-options="psc.slider.options">
    </rzslider>

    <div ng-hide="!psc.sliderDragged" class="ng-hide">
        <a  ng-click="psc.setDefault(psc.productType);" style="text-decoration: none;">
            <span > Clear</span><!--class="glyphicon glyphicon-remove"-->
        </a><!--class="floatRight"-->
    </div>
</div>