
<!--
    To display top rated products based on subtype
-->
<!--<h4>Top Rated {{productType}}</h4>-->
<div class = "imgRepeat" ng-repeat="product in productList | orderBy : '-rating' | filter: { subType: productType } | limitTo: 5 " >

        <figure class="zoom_img">
            <a ui-sref='view({id:product.id})'>
                <img ng-src="{{'../data/images/'+product.imgPath+'.jpeg'}} " ng-alt="{{product.name}}" ng-title="{{product.name}}" class="img-thumbnail" width="120" height="120" style="border:0px;margin:0px;"/>
            </a>
        </figure>
        {{product.name}}<br/>
        Price : {{product.price | currency:'&#8377;'}}<br/>
        <!--Rating :-->
        <ng-rate-it ng-model= product.rating  read-only="true" ></ng-rate-it>
</div>