<!--View page to display details of a product
 display a product and its description -->

<div class="row" >
    <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
        <display-product product-list = products param-id = {{vc.params.id}}></display-product>
    </div>
</div>
<!--Display similar products -->
<div class="row">
    <div class="col-sm-8 col-md-12 col-xs-8 col-lg-12">
        <h4>Similar Products</h4>
        <hr>
        <similar-products product-list = products product-type = {{vc.subType}}  ></similar-products>
    </div>
</div>